{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env sh

echo "Configuring iTerm"

# Specify the preferences directory
defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "~/.iTerm2/"

# Tell iTerm2 to use the custom preferences in the directory
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -boolean true

{{ end -}}
